<div class="row firstnavbar">
    <nav class="navbar navbar-expand-sm navbar-dark  p-3">
        <div class="container-fluid">
          <a class="navbar-brand heading" href="javascript:void(0)">Smoothies</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              
            </ul>
            <form class="d-flex">
              <a href="/signup" class="signup">SIGNUP</a>
              <a href="/login" class="signup"> LOG IN </a>
              <a href="/logout" class="signup"> LOG OUT </a>
            </form>
          </div>
        </div>
      </nav>
      
      


</div>