
<%- include ('partials/header.ejs') %>
    <title>Smoothies</title>
    
</head>
<body>
  <%- include ('partials/navbar.ejs') %>
   

    <div class="homecontent">
    <div class="row">
        <div class="textphoto">
            
            <img class="smthooieimage"    src="https://media.istockphoto.com/id/1490286981/vector/smoothie-fruit-drink-icon-creative-smoothie-vector-illustration.jpg?s=612x612&w=0&k=20&c=afIZbTSZUih_sifBYdQc0-Xt4XOK3eCAeQT2-UpmUqg=">
       
            <div class="text">
            <h3>Smoothie Recipes</h3>
            <i>Eat healthy ...Eat Tasty......</i>
        </div>
        <a href='/recipes'class="recipebtn">View Recipe</a>
        






        




        </div>





    </div>
    <%- include ('partials/footer.ejs') %>
  

    </div>



    
</body>
</html>