<%- include ('partials/header.ejs') %>
    <title>Recipes</title>
</head>
<body>
  <%- include ('partials/navbar.ejs') %>

    <div class="mainrecipes">
        <div class="row m-4">
            <div class="col-sm-4">
            
            <div class="card" style="width:400px">
            <img class="card-img-top recipeimg" src="https://media.istockphoto.com/id/1490286981/vector/smoothie-fruit-drink-icon-creative-smoothie-vector-illustration.jpg?s=612x612&w=0&k=20&c=afIZbTSZUih_sifBYdQc0-Xt4XOK3eCAeQT2-UpmUqg=" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">name</h4>
              <p class="card-text">Ingredients</p>
              
            </div>
          </div>
        </div>
        
            <div class="col-sm-4">
            
            <div class="card" style="width:400px">
            <img class="card-img-top recipeimg" src="https://media.istockphoto.com/id/1490286981/vector/smoothie-fruit-drink-icon-creative-smoothie-vector-illustration.jpg?s=612x612&w=0&k=20&c=afIZbTSZUih_sifBYdQc0-Xt4XOK3eCAeQT2-UpmUqg=" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">name</h4>
              <p class="card-text">Ingredients</p>
              
            </div>
          </div>
        </div>
        
            <div class="col-sm-4">
            
            <div class="card" style="width:400px">
            <img class="card-img-top recipeimg" src="https://media.istockphoto.com/id/1490286981/vector/smoothie-fruit-drink-icon-creative-smoothie-vector-illustration.jpg?s=612x612&w=0&k=20&c=afIZbTSZUih_sifBYdQc0-Xt4XOK3eCAeQT2-UpmUqg=" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">name</h4>
              <p class="card-text">Ingredients</p>
              
            </div>
          </div>
        </div>















        </div>




        <%- include ('partials/footer.ejs') %>




    </div>
    <div class="recipescontent">










    </div>
    
</body>
</html>