<%- include ('partials/header.ejs') %>
    <title>signup</title>
    
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
<h3>signup PAGE</h3>
<%- include ('partials/footer.ejs') %>

</body>
</html>