.signup{
    text-decoration: none;
    display: inline-block; /* Ensures width can be applied */
    width: 200px; /* Adjust width as needed */
    text-align: center; /* Centers the text inside the button */
    padding: 10px 0; 

}
.signupbtn{
    
    border-radius: 30px;
    border: none;
}
.signupbtn:hover{
    background-color: yellow;
}

.firstnavbar{
    background-color: rgb(220, 241, 244);
    color: white;
}
.heading{
    font-size:xx-large;
    font-weight: 800;
    color: black;

}

.smthooieimage{
    height: 50%;
    margin-top: 5%;

}
.text{
    margin-left: 50px;
    font-size: x-large;
    font-weight: 500;
}
.recipebtn{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 500;
    font-size:large;
    border-radius: 10px;
    background-color: palevioletred;
    display: inline-block; /* Ensures width can be applied */
    width: 150px; /* Adjust width as needed */
    text-align: center; /* Centers the text inside the button */
    padding: 10px 0; /
   
}
.recipebtn:hover{
    background-color: orange;
}
.footer{
    text-align: center;
}
.signup{
    text-decoration: none;
    display: inline-block;
    padding: 10px,20px;
    border: solid;
    border-radius: 5px;
    color: black;
    margin: 10px;
    width: 70px;
    border-color: azure;
   font-weight: 700;
}

.signup:hover{
    background-color: yellow;
}

.firstnavbar{
    background-color: rgb(220, 241, 244);
    color: white;
}
.heading{
    font-size:xx-large;
    font-weight: 800;
    color: black;

}
.welcometxt{
    color: black;
}
.recipeimg{
    height: 120px;
    width: 120px;
}
#signupformdetails{
    display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; 
}
#realform{
    border: solid;
    text-align: center;
    height: 400px;
    width: 350px;
}
#emailerror{
    color: red;
}
#passworderror{
    color: red;
}